.markdown-text {
	font-size: 15px;
	p,blockquote,ul,ol,table,pre,h1,h2,h3,h4,h5,h6 {
        text-align: justify;
        margin-bottom: 1.15rem;
        word-break: break-all;
    }

	p {
		white-space: pre-wrap;
	}

    p,blockquote,table,pre,h1,h2,h3,h4,h5,h6 {
        padding: 0 1.1rem;
    }

    h1 { font-size: 24px; }
    h2 { font-size: 22px; }
    h3 { font-size: 20px; }
    h4 { font-size: 18px; }
    h5 { font-size: 16px; }
	h6 { font-size: 14px; }
	
	ul,ol {
        padding-left: 2em;
    }
    ul li {
        list-style-type: disc;
        padding-right: 1.1rem;
    }
    ol li {
        list-style-type: decimal;
    }

    blockquote {
        margin: 0 1.1rem;
        color: #6a737d;
        border-left: 0.25em solid #dfe2e5;
	}
	
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	  
	td, th {
		padding: 0;
	}

	table {
		display: block;
		width: 100%;
		overflow: auto;
		word-break: normal;
		word-break: keep-all;
	}
	  
	table th {
		font-weight: bold;
	}
	  
	table th,
	table td {
		padding: 6px 13px;
		border: 1px solid #ddd;
	}
	  
	table tr {
		background-color: #fff;
		border-top: 1px solid #ccc;
	}
	  
	table tr:nth-child(2n) {
		background-color: #f8f8f8;
	}
	
	pre code {
		color: inherit;
		white-space: pre-wrap;
		background-color: transparent;
	}

	.hljs {
		display: block;
		overflow-x: auto;
		background: #f7f7f7;
		font-size: 14px;
		border-radius: 0;
		padding: 10px 15px;
		border: none;
		border-width: 1px 0;
		-o-tab-size: 4;
		-moz-tab-size: 4;
		tab-size: 4
	}
	
	.hljs,
	.hljs-subst {
		color: #434f54;
	}
	
	.hljs-keyword,
	.hljs-attribute,
	.hljs-selector-tag,
	.hljs-doctag,
	.hljs-name {
		color: #00979D;
	}
	
	.hljs-built_in,
	.hljs-literal,
	.hljs-bullet,
	.hljs-code,
	.hljs-addition {
		color: #D35400;
	}
	
	.hljs-regexp,
	.hljs-symbol,
	.hljs-variable,
	.hljs-template-variable,
	.hljs-link,
	.hljs-selector-attr,
	.hljs-selector-pseudo {
		color: #00979D;
	}
	
	.hljs-type,
	.hljs-string,
	.hljs-selector-id,
	.hljs-selector-class,
	.hljs-quote,
	.hljs-template-tag,
	.hljs-deletion {
		color: #005C5F;
	}
	
	.hljs-title,
	.hljs-section {
		color: #880000;
		font-weight: bold;
	}
	
	.hljs-comment {
		color: rgba(149,165,166,.8);
	}
	
	.hljs-meta-keyword {
		color: #728E00;
	}
	
	.hljs-meta {
		color: #728E00;
		color: #434f54;
	}
	
	.hljs-emphasis {
		font-style: italic;
	}
	
	.hljs-strong {
		font-weight: bold;
	}
	
	.hljs-function {
		color: #728E00;
	}
	
	.hljs-number {
		color: #8A7B52;  
	}
  
}