.markdown-text {
	font-size: 15px;
	p,blockquote,ul,ol,table,pre,h1,h2,h3,h4,h5,h6 {
        text-align: justify;
        margin-bottom: 1.15rem;
        word-break: break-all;
    }

    p,blockquote,table,pre,h1,h2,h3,h4,h5,h6 {
        padding: 0 1.1rem;
    }

    h1 { font-size: 24px; }
    h2 { font-size: 22px; }
    h3 { font-size: 20px; }
    h4 { font-size: 18px; }
    h5 { font-size: 16px; }
	h6 { font-size: 14px; }
	
	ul,ol {
        padding-left: 2em;
    }
    ul li {
        list-style-type: disc;
        padding-right: 1.1rem;
    }
    ol li {
        list-style-type: decimal;
    }

    blockquote {
        margin: 0 1.1rem;
        color: #6a737d;
        border-left: 0.25em solid #dfe2e5;
        p { padding: 0; }
	}
	
	img {
        display: block;
        max-width: 100%;
        height: auto;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
        margin: 0 auto;
        cursor: zoom-in;
    }
}